doctype html
head
  title= title
  link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-tomorrow.min.css' rel='stylesheet')
  link(href='/assets/main.css', rel='stylesheet')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js')
body
